#itemSearchForm {
    margin: 0.5em 0;
    max-width: 40em;
}
#itemSearchForm > div {
    display: flex;
    white-space: nowrap;
}
#itemSearchForm div label {
    margin-right: 0.25em;
    margin-top: 3px;
    margin-bottom: 5px;
}
#itemSearchForm div input[type=text] {
    flex-grow: 1;
    box-sizing: border-box;
    margin-right: 0.25em;
    margin-bottom: 5px;
}
#itemSearchForm div input[type=submit] {
    margin-bottom: 5px;
}
#itemSearchForm #divExtraSearchOptions input[type=checkbox] {
    margin-left: 3.6em;
}
#itemSearchForm #divExtraSearchOptions label {
    margin-top: 7px;
    padding-left: 0.25em;
    font-weight: normal;
}

#idForm {
    box-sizing: border-box;
    float: right;
    margin-top: 0.5em;
    margin-left: 2em;
    max-width: 14.1em;
    white-space: nowrap;
}
#idForm input#inputId {
    width: 4.8em;
}
#idForm button[type="submit"] {
    width: 30px;
    height: 26px;
    padding: 1px 6px;
    color: inherit;
    border: 1px solid #767676;
    border-radius: 2px;
}
#idForm .bi-arrow-up {
    margin-right: 0.75em;
}
#idForm .bi-arrow-left {
    margin-right: 0.75em;
}
#idForm .bi-arrow-right {
    margin-left: 0.75em;
}
#searchFormGroup {
    display: flex;
    flex-wrap: wrap-reverse;
}
#searchFormWrapper {
    flex-grow: 100;
}
#idFormWrapper {
    flex-grow: 1;
}
