parameters:
    level: 3
    paths:
        - backend
        - common
        - console
        - frontend
        - tests/phpunit
    bootstrapFiles:
        - tests/static-analysis/bootstrap.php
    tmpDir: /tmp/stockhub-phpstan
    excludePaths:
        analyse:
            - vendor
            - environments
            - tests/codeception
