#item-view #item-description {
    max-width: 60em;
}
#item-view h1 {
    font-size: 30px;
}
#item-view #item-description #lnkEdit {
    float: right;
}
#item-view .columns-container {
    display: flex;
    flex-wrap: wrap;
}
#item-view .columns-container #item-info {
    flex-grow: 1;
    flex-basis: 30%;
    min-width: 255px;
    box-sizing: border-box;
    padding-right: 2em;
}
#item-view .columns-container #item-children {
    flex-grow: 1;
    flex-basis: 70%;
    box-sizing: border-box;
    padding-left: 2%;
    border-left: 1px solid #eee;
    border-top: 1px solid #eee;
}
#item-view .columns-container #item-children #optionDots {
    float: right;
    margin: 10px;
}
#item-view .columns-container #item-children #optionDots:hover {
    text-shadow: 0 0 15px #000;
}


#item-view .columns-container #item-photos h3 {
    margin-top: 0;
}
#item-view .columns-container #item-photos .uploaded-photos .photo-wrapper .upload-date {
    position: absolute;
    right: 25px;
    bottom: 20px;
    font-size: 70%;
    color: #e6e6e6;
    text-shadow: 1px 1px 1px #666, -1px -1px 1px #999;
}

#item-view .columns-container #item-info #item-properties {
    margin-top: 1em;
    color: #999;
}
#item-view .columns-container #item-info dl {
    max-width: 60em;
    margin-bottom: 0.5em;
}
#item-view .columns-container #item-info dl dt {
    box-sizing: border-box;
    white-space: nowrap;
    display: inline;
}
#item-view .columns-container #item-info dl dd {
    box-sizing: border-box;
    display: inline;
    padding-left: 0.25em;
}

#item-view #item-description #item-post {
    margin-top: 2em;
}
#item-view #item-description #item-post ul {
    padding-left: 1em;
}
#item-view #item-description #item-post ul li {
    margin: 1em 0 0 0;
    list-style: none;
}
#item-view #item-description #item-post .title a.edit-link {
    font-size: 50%;
    vertical-align: super;
}
#item-view #item-description #item-post .text {
    color: #999;
    font-size: 80%;
    margin: 0.2em 0 0.5em 0;
}
#item-view #item-description #item-post .text p {
    margin: 0;
}
