table.container-items tr {
    border-bottom: 1px solid #eee;
}
table.container-items td {
    vertical-align: top;
}
table.container-items td.thumbnail {
    width: 110px;
    height: 110px;
    margin: 10px 0;
}
table.container-items td.details {
    padding: 5px 10px;
}
table.container-items td.details .path {
    font-size: 80%;
    line-height: 1.8em;
}
table.container-items td.details .path sup {
    color: #ccc;
    font-size: 80%;
}
table.container-items td.details .name {
    font-size: 150%;
}
table.container-items td.details .name sup {
    color: #ccc;
    font-size: 60%;
}
table.container-items td.details a.edit-link {
    font-size: 50%;
    vertical-align: super;
}
table.container-items td.details .description {
    font-size: 80%;
    color: #999;
    margin: 0.25em 0;
}
table.container-items td.details .tags {
    font-size: 80%;
    color: #999;
    margin: 0.25em 0;
}
table.container-items td.details .child-items {
    font-size: 80%;
    margin: 0.25em 0;
}

#itemSearchForm {
    margin: 1.5em 0;
}
#itemSearchForm input#query {
    width: 19em;
}
table.container-items td.details a.view-link {
    font-size: 80%;
    vertical-align: center;
}

.pick-container {
    font-size: 80%;
}
.pick-container #itemSearchForm input#query {
    width: 20em;
}
.pick-container table.container-items td.details .name {
    margin: 0.3em 0;
}
