#itemSearchForm {
    margin: 1.5em 0;
    max-width: 40em;
}
#itemSearchForm div {
    display: flex;
    flex-wrap: wrap;
}
#itemSearchForm div label {
    margin-right: 0.25em;
    margin-top: 3px;
    margin-bottom: 5px;
}
#itemSearchForm div input[type=text] {
    flex-grow: 1;
    box-sizing: border-box;
    margin-right: 0.25em;
    margin-bottom: 5px;
}
#itemSearchForm div input[type=submit] {
    margin-bottom: 5px;
}
#itemSearchForm #divExtraSearchOptions input[type=checkbox] {
    margin-left: 3.6em;
}
#itemSearchForm #divExtraSearchOptions label {
    margin-top: 7px;
    padding-left: 0.25em;
    font-weight: normal;
}
