#itemSearchForm {
    margin: 0.5em 0;
    max-width: 40em;
}
#itemSearchForm > div {
    display: flex;
    white-space: nowrap;
}
#itemSearchForm div label {
    margin-right: 0.25em;
    margin-top: 3px;
    margin-bottom: 5px;
}
#itemSearchForm div input[type=text] {
    flex-grow: 1;
    box-sizing: border-box;
    margin-right: 0.25em;
    margin-bottom: 5px;
}
#itemSearchForm div input[type=submit] {
    margin-bottom: 5px;
}
#itemSearchForm #divExtraSearchOptions input[type=checkbox] {
    margin-left: 3.6em;
}
#itemSearchForm #divExtraSearchOptions label {
    margin-top: 7px;
    padding-left: 0.25em;
    font-weight: normal;
}

#idForm {
    box-sizing: border-box;
    float: right;
    margin-top: 0.5em;
    margin-left: 2em;
    max-width: 12em;
    white-space: nowrap;
}
#idForm input#inputId {
    width: 4em;
}
#idForm .glyphicon-arrow-left {
    margin-right: 0.75em;
}
#idForm .glyphicon-arrow-right {
    margin-left: 0.75em;
}
#searchFormGroup {
    display: flex;
    flex-wrap: wrap-reverse;
}
#searchFormWrapper {
    flex-grow: 100;
}
#idFormWrapper {
    flex-grow: 1;
}
