table.search-results td {
    vertical-align: top;
}
table.search-results td.thumbnail {
    width: 110px;
    height: 110px;
}
table.search-results td.details {
    padding: 0 10px;
}
table.search-results td.details .path {
    font-size: 70%;
}
table.search-results td.details .name {
    font-size: 150%;
}
table.search-results td.details a.edit-link {
    font-size: 50%;
    vertical-align: super;
}

table.search-results td.details .child-items {
    font-size: 80%;
}
