#PhotosContainer .field-item-photos {
    padding-bottom: 1em;
    margin-bottom: 1em;
}

form .uploaded-photos {
    display: block;
}
form .uploaded-photos .photo-wrapper {
    position: relative;
    float: left;
    clear: left;
}

.uploaded-photos {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.uploaded-photos .photo-wrapper {
    flex-grow: 0;
    box-sizing: border-box;
    position: relative;
}
.uploaded-photos .photo-wrapper .photo-frame {
    display: block;
    border: 1px solid #ccc;
    position: relative;
    padding: 10px;
    margin: 5px;
}
.uploaded-photos .photo-wrapper img {
    min-width: 200px;
    min-height: 200px;
}

.uploaded-photos .btn-sort-up {
    position: absolute;
    right: -50px;
    top: 20px;
    opacity: 0.6;
}
.uploaded-photos .btn-sort-down {
    position: absolute;
    right: -50px;
    top: 70px;
    opacity: 0.6;
}
.uploaded-photos .btn-delete {
    position: absolute;
    right: -50px;
    top: 120px;
    opacity: 0.6;
}
.uploaded-photos .btn-delete:hover,
.uploaded-photos .btn-sort-up:hover,
.uploaded-photos .btn-sort-down:hover {
    opacity: 0.9;
}
