#PhotosContainer .field-item-photos {
    padding-bottom: 1em;
    margin-bottom: 1em;
}
#PhotosContainer .field-item-photos .block {
    display: none;
    background: #fff;
    float: left;
    border: 1px solid #ccc;
    padding: 5px;
    margin-top: 1em;
    margin-bottom: 0.25em;
}
#PhotosContainer .field-item-photos .block img {
    max-width: 100px;
    max-height: 100px;
}

.uploaded-photos .photo-wrapper {
    position: relative;
    float: left;
    clear: left;
}
.uploaded-photos .photo-wrapper img {
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px;
}

.uploaded-photos .btn-sort-up {
    position: absolute;
    right: -50px;
    top: 20px;
    opacity: 0.6;
}
.uploaded-photos .btn-sort-down {
    position: absolute;
    right: -50px;
    top: 70px;
    opacity: 0.6;
}
.uploaded-photos .btn-delete {
    position: absolute;
    right: -50px;
    top: 120px;
    opacity: 0.6;
}
.uploaded-photos .btn-delete:hover,
.uploaded-photos .btn-sort-up:hover,
.uploaded-photos .btn-sort-down:hover {
    opacity: 0.9;
}
